{
	"rules": {
		"comma-dangle": "never",
		"no-cond-assign": "always",
		"no-constant-condition": 2,
		"no-control-regex": 2,
		"no-debugger": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"empty-character-class": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-func-assign": 2,
		"no-irregular-whitespace": 2,
		"use-isnan": 2,
		"valid-typeof": 2
	},
	"env": {
		"node": true
	}
}
